{% extends "layout_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Customer details</h1>

      <p>
        Either NI Number of Date of Birth details must be provided.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <legend class="form-label-bold">NI number</legend>
      <label class="form-label" for="ni-number">e.g. AA263254A</label>
      <input class="form-control" id="ni-number" type="text">
    </div>

    <div class="column-one-third">
    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Their date of birth</legend>
        <div class="form-date">
        <fieldset>
          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" name="dob-day" id="dob-day" type="text" maxlength="2">
          </div>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
          	<input class="form-control" name="dob-month" id="dob-month" type="text" maxlength="2">
          </div>

          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
          	<input class="form-control" name="dob-year" id="dob-year" type="text" maxlength="4">
          </div>
        </fieldset>
        </div>
      </fieldset>
    </div>
  </div>
</div>

  <div class="grid-row">
    <div class="column-one-third">
      <label class="form-label" for="title">Title</label>
      <select name="title">
        <option value="mr">Mr</option>
        <option value="mrs">Mrs</option>
        <option value="sir">Sir</option>
        <option value="dr">Dr</option>
      </select>
    </div>

    <div class="column-one-third">
      <label class="form-label" for="surname">Surname</label>
      <input class="form-control" id="surname" type="text">
    </div>

    <div class="column-one-third">
      <label class="form-label" for="forenames">Forename(s)</label>
      <input class="form-control" id="forenames" type="text">
    </div>
  </div>
{% endblock %}
